.row {  
    display: flexbox; 
    display: flex;
    flex-wrap: wrap; 
    flex-wrap: wrap;
}


.side {
  flex: 30%; 
    flex: 30%;
    background-color: #CEF6F5;
       padding: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


.main {   
    flex: 70%;
    flex: 70%;
    background-color: #F2F5A9;
    padding: 20px;
}
