* {
    box-sizing: border-box;
}

div 
{
    width: 0px;
    height:0px;
    background-color: red;
    position: relative;
    animation-name: fly; 
    animation-duration: 4s;
    animation-name: fly;
    animation-duration: 4s;
    loop: infinite;
}

@-webkit-keyframes fly 
{
    0%   { left:100%; top:100%;}
       100% { left:0px; top:0px;}
}

@keyframes fly {
    0%   { left:100%; top:100%;}
       100% {left:0px; top:0px;}
}